{% extends 'template.html.twig' %}

{% block titre %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    <div class="float-center">
        <div class="grid-x grid-padding-x">
            <div class="float-center">
                {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
        </div>
    </div>

    <button type="reset">Annuler</button>

    <a href="{{ path('user_index') }}">Retour</a>

{#  {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
